/* valores por defecto establecidos para no afectar el modelo de caja */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: rgb(182, 180, 168);
  --secondary-color: #03071e;
  --third-color: white;
}

.dark_theme{
  --primary-color: rgb(3, 111, 111);
  --secondary-color: #f2f2f5;
  --third-color: rgb(24, 22, 22);
}

/* color del background */
body{
 background-color: var(--primary-color);
}
/* ancho y alto del header */
header{
  width: 100%;
  height: auto;
}
/* estilos de nav */
header nav{
  width: inherit;
  height: inherit;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}
/* estilo del contenedor del logo */
header nav .main_logo{
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}
/* estilo del logo del nav  */
header nav .main_logo img{
  width: 50px;
  height: 50px;
}
/* estilo de los ancors del nav */
header nav a{
  text-decoration: none;
  color: var(--third-color);
  font-size: 18px;
}
/* estilos del icono theme */

header nav .icon{
  color: var(--third-color);
  transition: ease-out .8s;

}
/* estilo del ul del nav  */
header nav ul{
  list-style-type: none;
  display: inherit;
  gap: 10px;
}
/* ancho y altura del main */
main{
  width: 100%;
  height: auto;
  padding: 40px 0 40px;


}
/* estilo del section que contiene al contenedor de tarjetas */
main .main--element-container{
  width: 90%;
  min-width: 320px;
  height: auto;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* estilos del h1 del main */
.main--element-container h1{
  font-size: 30px;
  color: blue;
  text-shadow: black 2px 0 2px;
}
/* estilos del conytenedor de las tarjetas */
main .main--element-container .product--cards-container{
  width: 100%;
  height: auto;
  display: inherit;
  flex-wrap: wrap;
  gap: inherit;
}

/* estilos de las cards */
main .main--element-container .product--cards-container .cards{
  width: 300px;
  height: inherit;
  display: inherit;
  flex-direction: column;
  gap: inherit;
  background-color: goldenrod;
  padding: 10px;
  border-radius: 20px;
  border: white 5px groove;
  align-items: center;
}
/* tamaño de las imagenes que contendra el card */
main .main--element-container .product--cards-container .cards img {
  width: 250px;
  height: 200px;
  border: white 5px  groove;
  border-radius: 20px;
}
/* estilo del h3 del card */
main .main--element-container .product--cards-container .cards h3{
  font-size: 24px;
  text-shadow: white 2px 0 2px;
}
/* estilo del precio de las cards */
main .main--element-container .product--cards-container .cards .price{
  font-size: 22px;
  font-weight: bolder;
}
/* estilo del details de los productos */
main .main--element-container .product--cards-container .cards details summary{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
main .main--element-container .product--cards-container .cards details p{
  font-size: 22px initial;
  text-align: center;
}
/* estilos del footer  */
footer{
  width: 100%;
  height: auto;
  padding: 40px 10px 80px;
  background-color: #03071e;
}
footer ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  font-size: 17px;
  color: white;
}

